.customShadow{
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/***uset table ***/
.userTable{
  @apply bg-white
}

.userTable th{
  @apply border text-base font-medium
}

.userTable td{
  @apply border text-base text-center
}

.scrollbar-none::-webkit-scrollbar{
  display: none;
}

.wd-wishlist-btn {
  position: absolute;
  top: 25px;
  right: 15px;
  z-index: 10;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}

 .btn{
  color: rgb(3, 61, 248);
  border: none;
  font-weight: 500;
  cursor: pointer;
 }




 